Django==1.4
altgraph==0.9
bdist-mpkg==0.4.4
certifi==0.0.8
configobj==4.6.0
distribute==0.6.24
dj-database-url==0.2.1
dot2tex==2.8.7
ipython==0.12
macholib==1.4.3
matplotlib==1.1.0
modulegraph==0.9.1
networkx==1.6
nose==1.1.2
numpy==1.6.1
psycopg2==2.4.5
py2app==0.6.4
pyOpenSSL==0.13
pygraphviz==1.0
pyparsing==1.5.6
python-dateutil==1.5
pytz==2012c
virtualenv==1.7.1.2
wsgiref==0.1.2
